.draggable {
	background-color: blue;
	padding: 0.5em;
	float: left;
	margin: 10px 10px 10px 0;
}

.notDraggable {
	background-color: green;
	padding: 0.5em;
	float: right;
	margin: 10px 10px 10px 0;
}

.droppable {
	background-color: red;
	width: 500px;
	height: 400px;
}

body {
	overflow: hidden;
}

table {
	float: left;
	width: 350px;
}

#frame {
	height: 500px;
	width: 40%;
	left: 400px;
}